[user]
#	email = ralgara@gmail.com
    email = rafaela@qualtrics.com
	name = Rafael Algara
[push]
	default = simple
[core]
	autocrlf = input
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[status]
	submoduleSummary = 1
#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/
