[user]
	email = ralgara@gmail.com
	name = Rafael Algara
[push]
	default = simple
[core]
	autocrlf = input
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
